# Ignore bundler config.
/.bundle
.env

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

.byebug_history

spec/examples.txt

public/uploads
/public/packs
/public/packs-test
/node_modules
/public/assets

.env
.DS_Store

/vendor/cache
/data
/jumpstart